$MainB: white;
$prima1:hsl(223, 22%, 86%);
$primary:#2D3E50; //hsl(243, 20%, 57%)
$secondary: #FE424C; //hsl(216, 2%, 51%)

$Text:hsl(0, 0%, 10%);
$itext:hsl(0, 0%, 100%);
$lighttext: #8392ab;

$accent1:rgba(126, 123, 167, 0.2);
$accent2: rgba(128, 130, 133, 0.2);

$statlightb:hsl(200, 100%, 70%);
$statdarkblue: hsl(197, 80%, 15%);
$statred:#e0002d;
$statorange:hsl(17, 81%, 47%);
$statoranged:hsl(19.6, 82.8%, 45%);
$statpurple:hsl(276, 100%, 50%);
$statyellow:hsl(48, 100%, 55%);
$statblack:hsl(0, 0%, 15%);
$statpink:hsl(316, 100%, 65%);
$statgreen:#7fb11b;