/*============================================================================*/
/* Accordion Component */
.t-accordion {
    @include shadows();
    background: #ffffff;
    border-radius: 15px;
    margin: 10px auto;
    padding: 1rem;

    h2 {
        color: $primary;
        // font-size:calc(1vw + 1.5rem);
        font-weight: bold;
        margin: 0;
        padding: 1rem;
        text-align: center;
    }

    .com-desc {
        color: $primary;
        font-size: 1vw;
        padding: 0;
        text-align: center;
    }

    label {
        color: $primary;
    }

    .row {
        font-size: 20px;
    }

    .filter-tabs,
    .nav.nav-tabs {
        @include clean();
    }

    .table-actions {
        @include norecord();
        @include clean();
    }

    .t-accordion-item.accordion-item.active .accordion-title span,
    .t-accordion-item.accordion-item .accordion-title i.far.a-icon {
        color: $secondary;
    }

    .t-accordion-item.accordion-item .accordion-title span,
    .t-accordion-item.accordion-item.active .accordion-title i.far.a-icon {
        color: $primary;
    }

    .filter-tabs .nav.nav-tabs>li {
        a {
            @include primarybtn(none);
            border-radius: 30px;

            &:hover,
            &focus {
                background-color: $secondary;
                color: white;
                outline: none;
            }
        }

        &.active>a {
            background-color: $secondary;
            color: white;
            outline: none;
        }
    }
}

.t-accordion.t-accordion .col-md-12,
.t-accordion.t-accordion .col-md-6,
.t-accordion.t-accordion .col-md-4 {
    border-radius: 50px;
    border: none;
    margin: 10px auto;
}

.t-accordion.t-accordion .col-md-12 .accordion-item,
.t-accordion.t-accordion .col-md-6 .accordion-item,
.t-accordion.t-accordion .col-md-4 .accordion-item {
    border-radius: none;
    border: none;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25), -5px -5px 10px 0 rgba(255, 255, 255, 0.3);
    padding: 18px 0;
    position: relative;
    transition: all .1s ease-in-out;
}

.t-accordion.t-accordion .col-md-12 .t-accordion-item.accordion-item.active,
.t-accordion.t-accordion .col-md-6 .t-accordion-item.accordion-item.active,
.t-accordion.t-accordion .col-md-4 .t-accordion-item.accordion-item.active,
.t-accordion.t-accordion .col-md-12 .accordion-item:hover,
.t-accordion.t-accordion .col-md-6 .accordion-item:hover,
.t-accordion.t-accordion .col-md-4 .accordion-item:hover {
    box-shadow: 10px 10px $primary;
}







// V2
@media (min-width: 0px) {
    .t-accordion {
        background: none;
        position: relative;
        box-shadow: none;
    }

    .t-accordion h2 {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 10px;
        color: #01556a;
        border: none;
    }

    .t-accordion .filter-tabs {
        float: unset;
        background: none;
        margin: 0;
        padding: 10px 0;
        border: none
    }

    .t-accordion .filter-tabs ul.nav.nav-tabs {
        border: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }

    .t-accordion .filter-tabs ul.nav.nav-tabs li a {
        color: white;
        padding: 5px 15px;
        border-radius: 16px;
        background: #01556a;
        border: 1px solid #01556a;
        box-shadow: none;
        font-weight: 600;
        margin: 3px;
        font-size: 12px;
    }

    .t-accordion .filter-tabs ul.nav.nav-tabs li a:hover {
        outline: none;
        border: 1px solid #01556a;
        background: #26b1ed;
        color: white;
        box-shadow: none;
        transform: none;
    }

    .t-accordion .filter-tabs ul.nav.nav li.active a {
        margin: 3px;
        outline: none;
        border: 1px solid #01556a;
        background: #26b1ed;
        color: white;
        box-shadow: none;
    }


    /* Add Table action here */
    /* Pagination */

    /* Body */
    .t-accordion .row .col-md-12,
    .t-accordion .row .col-md-6,
    .t-accordion .row .col-md-4 {
        border: none;
        box-shadow: none;
        margin: 0;
    }

    .t-accordion .row .col-md-12 .t-accordion-item,
    .t-accordion .row .col-md-6 .t-accordion-item,
    .t-accordion .row .col-md-4 .t-accordion-item {
        padding: 0;
        border: 2px solid #DCE8FF !important;
        border-radius: 16px !important;
        background: white !important;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);

    }

    .t-accordion .row .col-md-12 .t-accordion-item:hover,
    .t-accordion .row .col-md-6 .t-accordion-item:hover,
    .t-accordion .row .col-md-4 .t-accordion-item:hover {
        transform: none;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
        border: 2px solid #01556a !important;
    }

    .t-accordion .row .col-md-12 .t-accordion-item:hover span,
    .t-accordion .row .col-md-6 .t-accordion-item:hover span,
    .t-accordion .row .col-md-4 .t-accordion-item:hover span {
        color: #008AAB;
    }

    .t-accordion .row .col-md-12 .t-accordion-item.accordion-item.active,
    .t-accordion .row .col-md-6 .t-accordion-item.accordion-item.active,
    .t-accordion .row .col-md-4 .t-accordion-item.accordion-item.active {
        transform: none;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
        border: 2px solid #01556a !important;
    }

    .t-accordion .row .t-accordion-item .accordion-title {
        padding: 20px 16px;
    }

    .t-accordion .row .t-accordion-item .accordion-title i,
    .t-accordion .row .t-accordion-item .accordion-title span {
        font-size: 14px;
        color: #01556a;
        font-weight: 700;
    }

    /* Contents */
    .t-accordion .row .t-accordion-item.active .accordion-body {
        padding: 16px 0 !important;
        margin: 16px;
        border-top: 1px solid #01556a;
    }

    .t-accordion .row .t-accordion-item.active .accordion-body .form-group {
        margin: 10px 0;
    }

    .t-accordion .row .t-accordion-item.active .accordion-body .form-group label,
    .t-accordion .row .t-accordion-item.active .accordion-body .form-group span {
        color: #798FA6;
        font-size: 12px;
        margin: 0;
    }

    .t-accordion .row .t-accordion-item.active .accordion-body .form-group label {
        font-weight: 700;
    }

    .t-accordion .row .t-accordion-item.active .accordion-body .form-group span {
        font-weight: 500;
    }

    /* Badge */
    .t-accordion .row .t-accordion-item.active .accordion-body .form-group span.badge {
        color: white;
        padding: 8px 16px;
        margin: 0;
        border-radius: 16px;
    }

    .t-accordion .row .t-accordion-item.active .accordion-body .form-group a {
        border-radius: 16px;
        border: 1px solid #01556a;
        font-size: 12px;
        padding: 5px 10px;
        background: #01556a;
    }

    .t-accordion .row .t-accordion-item.active .accordion-body .form-group a:hover {
        background: #26b1ed;
        border: 1px solid #01556a;
    }
}


@media (min-width: 768px) {
    .t-accordion h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .t-accordion .filter-tabs ul.nav.nav-tabs li a,
    .t-accordion .row .t-accordion-item .accordion-title i,
    .t-accordion .row .t-accordion-item .accordion-title span,
    .t-accordion .row .t-accordion-item.active .accordion-body .form-group label,
    .t-accordion .row .t-accordion-item.active .accordion-body .form-group span,
    .t-accordion .row .t-accordion-item.active .accordion-body .form-group a {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .t-accordion .row .t-accordion-item .accordion-title {
        padding: 20px 16px;
    }

    .t-accordion h2 {
        font-size: 24px;
    }

    .t-accordion .filter-tabs ul.nav.nav-tabs li a,
    .t-accordion .row .t-accordion-item .accordion-title i,
    .t-accordion .row .t-accordion-item .accordion-title span,
    .t-accordion .row .t-accordion-item.active .accordion-body .form-group label,
    .t-accordion .row .t-accordion-item.active .accordion-body .form-group span,
    .t-accordion .row .t-accordion-item.active .accordion-body .form-group a {
        font-size: 16px;
    }
}