$MainB: #eef4ff;
$prima1:#d3d8e3;
$primary:#01556a;
// $secondary:#c4d600;
$secondary: #008AAB;

$Text:hsl(240, 2%, 35%);
$itext:hsl(0, 0%, 100%);
$lighttext: #798FA6;

$accent1:#26b1ed; //hsl(79, 31%, 80%)
$accent2: hsl(158, 26%, 86%);

$infoBtn: #208203;
$infoBtnAccent: #62bb45;
$warningBtn: #e8932e;
$warningBtnAccent: #954e00;
$dangerBtn: #b11212;
$dangerBtnAccent: #ff634c;

$statlightb:#008AAB;
$statdarkblue: #01556a;
$statred:#e0002d;
$statorange:hsl(17, 81%, 47%);
$statoranged:hsl(19.6, 82.8%, 45%);
$statpurple:hsl(276, 100%, 50%);
$statyellow:hsl(48, 100%, 55%);
$statblack:hsl(0, 0%, 15%);
$statpink:hsl(316, 100%, 65%);
/* $statgreen:#7fb11b; */
$statgreen:#c4d600;