/*============================================================================*/
/* List Component */
.t-list {
    padding: 1rem;
    margin-bottom: 30px;

    .t-list-row {
        background: white;

        #field_block_ {
            display: grid;
            place-items: center;
        }
    }

    .list-row-item.list-layout-default {
        @include shadows();
        border-radius: 1.5rem;
        border: 5px solid transparent;
        margin: 15px auto;
        padding: 1rem 3rem;
        transition: all .1s ease-in-out;

        @include media ('<tablet') {
            border: 5px solid $primary;
            box-shadow: 5px 5px $secondary;
        }

        &:hover {
            @include inshadow();
            border: 5px solid $primary;
            box-shadow: 5px 5px $secondary;
            transform: translateY(-1px);
            position: inherit;
        }
    }

    .list-row-item.list-layout-bordered-box {
        border: 3px solid $primary !important;
        transition: all .1s ease-in-out;

        &:hover {
            box-shadow: 5px 5px $secondary;
            transform: translateY(-1px);
        }
    }

    h3 {
        color: $primary;
        font-weight: bold;
        margin: 0;
        padding: 0 0 .5rem .5rem;
    }

    label {
        color: $primary;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 5px;
        max-width: 100%;
    }

    .form-control {
        background: none;
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0px;
        box-shadow: none;
        color: $primary;
        font-weight: bold;
        outline: none;

        &:hover,
        &:active,
        &:focus {
            border-bottom: 2px solid $primary;
            box-shadow: none;
            color: $primary;
        }
    }

    .btn.btn-primary.btn-sm.m-l-xs {
        float: left;

        &:hover {
            @include btnshadow();
        }
    }

    .table-actions {
        background: none;
        border: none;
    }

    .btn.disabled {
        @include norecord();
    }

    .filter-tabs {
        background: none;
        float: right;
        margin: 5px auto;
    }

    .nav-tabs {
        background: none;
        border: none;
        margin-left: 10px;
        position: inherit;
    }

    .nav.nav-tabs>li>a {
        @include monobtn();
        border-radius: 15px;
        font-weight: bold;
        margin: 2px;
        padding: 5px 7px;

        &:hover,
        &:focus {
            @include btnshadow();
        }
    }

    @include media ('>tablet') {
        .nav.nav-tabs>li>a {
            @include monobtn();
            border-radius: 15px;
            padding: 5px 7px;

            &:hover,
            &:focus {
                @include btnshadow();
            }
        }
    }

    .filter-tabs .nav-tabs>li.active>a {
        @include btnshadow();
        background: $primary;
        color: white;
    }

    .btn.btn-primary {
        background: $primary;
        border: 2px solid $primary;
        outline: none;
        transition: all .1s ease-in-out;

        &:hover,
        &:focus {
            box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
        }
    }

    .pagination>.disabled>a,
    .pagination>.disabled>span {
        @include primarybtn(none);

        &:hover {
            @include hoverbtn();
        }
    }

    .pagination-sm>li>a,
    .pagination-sm>li>span {
        @include primarybtn(none);

        &:hover {
            @include btnshadow();
        }
    }

    .pagination>.active>a,
    .pagination>.active>span {
        @include btnshadow();
    }

    .img-responsive {
        width: 100%;
    }
}






// V2
@media (min-width: 0px) {
    .t-list {
        background: none;
        position: relative;
        box-shadow:none;
    }

    .t-list h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 10px;
        color: $primary;
        border: none;
    }

    .t-list .filter-tabs {
        float: unset;
        background: none;
        margin: 0;
        padding: 10px 0;
        border: none
    }

    .t-list .filter-tabs ul.nav {
        border: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }

    .t-list .filter-tabs ul.nav li a {
        color: white;
        padding: 5px 15px;
        border-radius: 16px;
        background: $primary;
        border: 1px solid $primary;
        box-shadow: none;
        font-weight: 600;
        margin: 3px;
        font-size: 12px;
    }

    .t-list .filter-tabs ul.nav li a:hover {
        outline: none;
        border: 1px solid $primary;
        background: $accent1;
        color: white;
        box-shadow: none;
        transform: none;
    }

    .t-list .filter-tabs ul.nav li.active a {
        margin: 0;
        outline: none;
        border: 1px solid $primary;
        background: $accent1;
        color: white;
        box-shadow: none;
    }

    /* Head */
    .t-list .table-actions {
        background: none;
        display: flex;
        float: left;
        padding: 0;
        border: none;
        flex-direction: column;
    }

    .t-list .table-actions .pull-left.form-inline {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .t-list .table-actions .pull-left.form-inline .form-control {
        border: 1px solid $primary;
        border-radius: 24px 0px 0px 24px;
        font-size: 12px;
        min-width: 250px;
        height: 32px;
        background: white;
    }

    .t-list .table-actions .pull-left.form-inline .btn {
        background: $primary;
        color: white;
        border: 1px solid $primary;
        border-radius: 16px;
        font-size: 12px;
        padding: 5px 10px;
        margin: 0 2px;
        height: 32px;
    }

    .t-list .table-actions .pull-left.form-inline .input-group .btn.btn.btn-sm {
        border-radius: 0px 24px 24px 0px;
        margin: 0 2px 0 0;
    }

    .t-list .table-actions .pull-left.form-inline .btn i {
        color: white;
        font-weight: normal;
    }

    .t-list .table-actions .pull-left.form-inline .btn:hover {
        background: $accent1;
        border: 1px solid $primary;
    }

    /* Pagination */
    .t-list .table-actions .pull-right .hit-pagination2 {
        display: flex;
        align-items: center;
        margin: -20px 0 5px 0;
        padding: 0;
    }

    .t-list .table-actions .pull-right .hit-pagination2 ul li a {
        font-size: 12px;
        padding: 5px 10px;
        color: white;
        background: $primary;
        height: 32px;
        margin: 0;
    }

    .t-list .table-actions .pull-right .hit-pagination2 ul li.active a {
        background: $accent1;
        color: $primary;
        margin: 0;
        transform: none;
    }

    .t-list .table-actions .pull-right .hit-pagination2 .form-control {
        background: white;
        border: 1px solid $primary;
        border-radius: 16px;
        height: 32px;
        margin: 0;
    }

    /* Body */
    .t-list .row .t-list-row {
        background: white;
        padding: 16px;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
        border: 2px solid $MainB !important;
        border-radius: 16px !important;
        margin: 16px 0;
    }

    .t-list .row .t-list-row:hover {
        transform: none;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
    }

    .t-list .row .t-list-row .form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin: 8px 0;
        padding: 0;
    }

    .t-list .row .t-list-row .form-group label {
        width: 50%;
        color: $lighttext;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.01em;
        text-align: left;
    }

    .t-list .row .t-list-row .form-group div {
        width: 50%;
        text-align: left;
        color: $lighttext;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: -0.01em;
        overflow: clip;
    }

    .t-list .row .t-list-row .form-group div af-data-table-field a {
        padding: 8px 10px;
        background: $primary;
        border-radius: 16px;
        border: 1px solid $primary;
        color: white;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: -0.01em;
        display: block;
        text-align: center;
    }

    .t-list .row .t-list-row .form-group div af-data-table-field a:hover {
        background: $accent1;
        border: 1px solid $primary;
    }
}

@media (min-width: 768px) {
    .t-list h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .t-list .filter-tabs ul.nav li a,
    .t-list .table-actions .pull-left.form-inline .form-control,
    .t-list .table-actions .pull-left.form-inline .btn,
    .t-list .table-actions .pull-right .hit-pagination2 ul li a,
    .t-list .row .t-list-row .form-group label,
    .t-list .row .t-list-row .form-group div {
        font-size: 14px;
    }

    .t-list .table-actions .pull-left.form-inline .form-control,
    .t-list .table-actions .pull-left.form-inline .btn,
    .t-list .table-actions .pull-right .hit-pagination2 ul li a,
    .t-list .table-actions .pull-right .hit-pagination2 .form-control {
        height: 33px;
    }

    .t-list {
        background: white;
        padding: 16px;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
        border: 2px solid #DCE8FF;
        border-radius: 16px;
    }

    .t-list .row .t-list-row {
        background: white;
        box-shadow: none;
        border: none !important;
    }

    .t-list .row .t-list-row:hover {
        background: #DCE8FF;
        transform: none;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
    }

    // Style 2
    .t-list.style2 {
        background: none;
        padding: none;
        box-shadow: none;
        border: none;
        border-radius: none;
    }

    .t-list.style2 .row .t-list-row {
        background: white;
        padding: 16px;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
        border: 2px solid $MainB !important;
        border-radius: 16px !important;
        margin: 16px 0;
    }

    .t-list.style2 .row .t-list-row:hover {
        transform: none;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
    }
}

@media (min-width: 1200px) {
    .t-list h3 {
        font-size: 24px;
    }

    .t-list .filter-tabs ul.nav li a,
    .t-list .table-actions .pull-left.form-inline .form-control,
    .t-list .table-actions .pull-left.form-inline .btn,
    .t-list .table-actions .pull-right .hit-pagination2 ul li a,
    .t-list .row .t-list-row .form-group label,
    .t-list .row .t-list-row .form-group div {
        font-size: 16px;
    }

    .t-list .table-actions .pull-left.form-inline .form-control,
    .t-list .table-actions .pull-left.form-inline .btn,
    .t-list .table-actions .pull-right .hit-pagination2 ul li a,
    .t-list .table-actions .pull-right .hit-pagination2 .form-control {
        height: 36px;
    }

    .t-list .table-actions .pull-right .hit-pagination2 .form-control {
        min-width: 100px;
    }

    .t-list .table-actions {
        flex-direction: row;
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .t-list .table-actions .pull-right {
        margin: 0;
        width: 100%;
    }
}