/* Custom Loader */
.app-loading {//Outer Circle
  background: none repeat scroll 0 0 $MainB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 0 25px rgba(0, 0, 255, 0.075);
  border-radius: 50%;
  bottom: 50%;
  display: inline-block;
  height: 80px;
  margin: 1em;
  overflow: hidden;
  position: absolute;
  right: 50%;
  width: 80px;
  z-index: 1000;

  &:after {//inner Circle
    background: none repeat scroll 0 0 $MainB;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 60px;
    left: 9px;
    position: absolute;
    top: 10px;
    width: 60px;
  }

  > span {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 50%;
  }
}

.load-left {
  left: 0;

  .load-anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.load-right {
  left: 50%;

  .load-anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    transform-origin: 100% 50% 0;
  }
}

.load-anim {
  animation: ui-spinner-rotate-left 3s infinite;
  border-radius: 999px;
  background: none repeat scroll 0 0 $primary;
  height: 100%;
  left: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: 0 50% 0;
  width: 100%;
}

.app-loading-cycle {
  .load-anim {
    animation-delay: 0s;
    animation-duration: 1s; //Speed of the loader
    animation-timing-function: linear;
  }

  .load-right {
    .load-anim {
      animation-name: ui-spinner-rotate-right;
      animation-delay: 0;
      animation-delay: 1.5s;
    }
  }
}

/* round variation */
.loader .round .app-loading:after {
  display: none;
}

@keyframes ui-spinner-rotate-right {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ui-spinner-rotate-left {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}