/*============================================================================*/
/* Form Component */
.t-form {
    @include shadows();
    background: #ffffff;
    border-radius: 15px;
    margin: 10px auto;
    padding: 1rem 3rem;
    text-align: left;

    .form-horizontal {
        @include shadows();
        display: inline-block;
        max-width: 100px;
        position: relative;
        text-align: center;
        z-index: 1;
    }

    h3 {
        background: none;
        border-radius: 15px 15px 0 0;
        color: $primary;
        font-weight: bold;
        margin: 10px auto;
        padding: .5rem;
        // text-align:center;
    }

    .lbl {
        color: $primary;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: left;
        // text-transform:uppercase;
    }

    .form-control {
        background: rgba(109, 124, 144, .1);
        border: 2px solid transparent;
        box-shadow: none;
        color: #333;
        font-size: 15px;
        font-weight: bold;
        height: 35px;
        line-height: 1.429;
        margin: auto -1px;
        padding: 5px 15px;

        // width:100%; this was to allow shorter form fields
        &:hover {
            border: 2px solid $primary;
        }

        &:focus {
            background-color: #ffffff;
            border: 2px solid $primary;
        }
    }

    .btn.btn-default.btn-sm.active {
        background-color: $primary;
    }

    .t-form-name>table {
        width: 100%;
    }

    .t-form-name label {
        color: $secondary;
    }

    .tb-checkbox {
        font-weight: bold;
        padding: 5px 10px;
        text-align: left;

        &:hover {
            @include hoverbtn();
        }
    }

    .td-back-link a {
        background: none;
        border: 2px solid $primary;
        border-radius: 15px;
        color: $primary;
        padding: 5px 10px;
        transition: all .1s ease-in-out;

        &:hover {
            @include btnshadow();
            background: $primary;
            border-color: white;
            color: white;
            text-decoration: none;
        }
    }

    .alert-danger {
        margin: 10px auto;
    }

    .text-center.tb-checkbox {
        /*checkbox*/
        font-weight: bold;
        padding: 5px 10px;
        text-align: left;
        width: 100%;

        &:hover {
            @include hoverbtn();
        }
    }

    /*radio*/
    .t-form-radio .tb-radio {
        font-weight: bold;
        padding: 5px 10px;
        text-align: left;
        width: 100%;

        &:hover {
            @include hoverbtn();
            border-radius: 15px;
        }
    }

    /*multi-select*/
    .t-form-multiple {
        height: 10vh;
    }

    /*slider*/
    .rzslider .rz-bubble {
        bottom: 16px;
        color: $primary;
        cursor: defalt;
        font-weight: bold;
        padding: 1px 3px;
    }

    .rzslider .rz-bubble.rz-limit {
        color: $secondary;
    }

    .rzslider .rz-bar {
        background: #E8EAE5;
        border-radius: 30px;
        height: 5px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .rzslider .rz-selection {
        background: #333;
        border-radius: 2px;
        z-index: 2;
    }

    .rzslider .rz-pointer {
        background-color: $primary;
        border-radius: 16px;
        cursor: pointer;
        height: 32px;
        top: -14px;
        width: 32px;
        z-index: 3;

        &:focus {
            outline: none;
        }
    }

    .rzslider .rz-pointer:after {
        background: #ffffff;
        border-radius: 4px;
        content: '';
        height: 8px;
        left: 12px;
        position: absolute;
        top: 12px;
        width: 8px;
    }

    .rzslider .rz-pointer:hover:after {
        background-color: #ffffff;
        outline: none;
    }

    .rzslider .rz-pointer.rz-active:after {
        background-color: #ffffff;
    }

    /*Form:Button Element*/
    .input-group-btn:last-child>.btn,
    .input-group-btn:last-child>.btn-group {
        margin-left: -1px;
        z-index: 2;
    }

    .input-group-btn:last-child>.btn:hover,
    .input-group-btn:last-child>.btn-group {
        @include hoverbtn();
    }

    .form-navigation-pages ul li>.p-step {
        background: $secondary;
        color: white;
    }

    .form-navigation-pages ul li>.p-title {
        color: $secondary;
    }

    .form-navigation-pages ul li.active::after,
    .form-navigation-pages ul li.active>.p-step,
    .btn.btn-sm.active {
        background: $primary;
        color: #ffffff;
    }

    .form-group .t-form-address div {
        width: 100%;
    }

    .btn.btn-success.af-form-submit {
        background: $primary;
        border: 2px solid $primary;
        font-weight: bold;
        width: 100%;
        outline: none;
        padding: 10px 0;
        transition: all .1s ease-in-out;

        &:hover {
            background: none;
            @include btnshadow();
            color: $primary;
        }
    }
}

.input-group-addon:first-child {
    background: $secondary;
    color: #ffffff;
    font-weight: 700;
}

/* connection list view */
.t-form-connection {
    label {
        color: $primary;
    }

    .t-ctrl-record-selector .unlink-record {
        background-color: $secondary;

        &:hover {
            background-color: $primary;
        }
    }
}

/*address*/
.field-address-label {
    @include hiderec();
}

/*signature*/
/* .t-form .form-group .signature-pad{
    margin:auto;
    width:100%;
}
 .signature-pad canvas{
    height:auto;
} */

// Input
input {
    accent-color: $primary;
}

.short-field .form-control {
    min-width: 2em;
    max-width: 12vw;
}



















// V2
@media(min-width:0px) {

    /* Form */
    .t-form {
        margin: 0 0 20px 0;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .t-form form h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0 10px;
        color: $primary;
        border: none;
        text-align: left;
    }

    .t-form form .row .field-wrap .form-group {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .t-form form .row .field-wrap .form-group label {
        margin: 0;
        padding: 0 10px;
    }

    .t-form form .row .field-wrap .form-group label span {
        font-size: 12px;
        color: black;
    }

    .t-form form .row .field-wrap .form-group .input-group input,
    .t-form form .row .field-wrap .form-group .relative input,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection {
        background: white;
        border: 1px solid $primary;
        padding: 8px 22px;
        font-size: 12px;
        font-weight: 500;
        height: 32px;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection.select2-selection--multiple {
        border-radius: 24px;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection.select2-selection--multiple ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        overflow-x: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection.select2-selection--multiple ul::-webkit-scrollbar {
        display: none;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection.select2-selection--multiple ul li {
        margin: 0 5px;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection.select2-selection--multiple ul li span {
        margin: 0 5px;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection.select2-selection--multiple ul li input {
        margin: 0;
        padding: 0;
        height: 90%;
        border: none;
    }

    .t-form form .row .field-wrap .form-group .input-group input {
        border-radius: 24px 0px 0px 24px;
    }

    .t-form form .row .field-wrap .form-group .select2 {
        padding: 0;
        border: none;
        background: none;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection {
        padding: 0 22px;
        display: flex;
        align-items: center;
        border-radius: 24px 0px 0px 24px;
        margin-right: 5px;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection .select2-selection__rendered {
        background: none;
        padding: 0;
        font-size: 12px;
        font-weight: 500;
    }

    .t-form form .row .field-wrap .form-group .t-form-number {
        border-radius: 24px;
    }

    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection .select2-selection__arrow {
        background: $primary;
        border-left: 1px solid $primary;
        margin: -1px 0px 0 0px;
        padding: 0 15px;
        background: $primary;
        border: 1px solid $primary;
        height: 32px;
    }

    .t-form form .row .field-wrap .form-group .input-group span button.btn {
        margin: 0 0px 0 -1px;
        padding: 0 15px;
        border-radius: 0px 24px 24px 0px;
        background: $primary;
        border: 1px solid $primary;
        height: 32px;
    }

    .t-form form .row .field-wrap .form-group .input-group span button:hover {
        background: $accent1;
        border: 1px solid $primary;
    }

    /* Dropdown */
    .select2-container .select2-dropdown .select2-search input {
        background: white;
        border: 1px solid $primary;
    }

    /* Submit */
    .t-form form .form-submit button.btn.af-form-submit {
        border-radius: 24px;
        background: $primary;
        border: 1px solid $primary;
    }

    .t-form form .form-submit button.btn.af-form-submit:hover {
        background: $accent1;
        border: 1px solid $primary;
        color: white;
    }
}

@media(min-width:768px) {
    .t-form form h3 {
        font-size: 20px;
    }

    .t-form form .row .field-wrap .form-group label span,
    .t-form form .row .field-wrap .form-group .input-group input,
    .t-form form .row .field-wrap .form-group .relative input,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection .select2-selection__rendered {
        font-size: 14px;
    }

    .t-form form .row .field-wrap .form-group .input-group input,
    .t-form form .row .field-wrap .form-group .relative input,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection .select2-selection__arrow,
    .t-form form .row .field-wrap .form-group .input-group span button.btn {
        height: 35px;
    }
}

@media(min-width:768px) {
    .t-form form .row .field-wrap .form-group .t-form-daterange hit-field-calendar .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .t-form form .row .field-wrap .form-group .t-form-daterange hit-field-calendar .row .text-center {
        width: 10%;
    }
}

@media(min-width:1200px) {
    .t-form form h3 {
        font-size: 24px;
    }

    .t-form form .row .field-wrap .form-group label span,
    .t-form form .row .field-wrap .form-group .input-group input,
    .t-form form .row .field-wrap .form-group .relative input,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection .select2-selection__rendered {
        font-size: 16px;
    }

    .t-form form .row .field-wrap .form-group .input-group input,
    .t-form form .row .field-wrap .form-group .relative input,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection,
    .t-form form .row .field-wrap .form-group .select2 .selection .select2-selection .select2-selection__arrow,
    .t-form form .row .field-wrap .form-group .input-group span button.btn {
        height: 36px;
    }
}