/*Design 1*/
.app-ls-design1 {
  margin: 0 -20px 0 -20% !important;
  padding: 0 !important;
  display: flex;
  overflow-x: hidden;
}
.app-ls-design1-logo {
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px !important;
  z-index: 10;

  img {
    height: 100%;
    width: 100%;
  }
}
.app-ls-design1-main {
  min-height: 100vh;
  min-width: 68%;
  padding: 10% 0 0 10%;
  border-radius: 0 !important;
  background: white;

  .t-logincomponent input {
    width: 100%;
  }
}

.app-ls-design1-opt {
  background: #b1092aa2;
  min-height: 100vh;
  margin-right: -5%;
  padding-right: 3%;
  padding-top: 20%;
  right: 0;
  top: 0;
  width: 40%;

  h1,
  p {
    color: white;
  }
  .t-linkbutton {
    display: grid;
    margin-left: -3%;

    .btn {
      background: white;
      border: 2px solid $primary;
      border-radius: 3em;
      color: $secondary;
      font-weight: bold;
      padding: 15px;
      width: 200px;

      &:hover {
        background: $primary;
        color: white;
      }
    }
  }
}

.t-signupcomponent .btn {
  background: $secondary;
  border: 2px solid $primary;
  border-radius: 1em;
  padding: 10px 0;
  width: 100%;

  &:hover {
    background: #484848;
    border: 2px solid $primary;
  }
}

.t-profilecomponent {
  //Profile
  box-shadow: none;
  width: 50%;

  input {
    background: $secondary !important;
    color: white !important;
  }
  .btn {
    background: $secondary;
    border: 2px solid $primary;
    border-radius: 1em;
    padding: 10px 0;
    width: 100%;

    &:hover {
      background: $primary;
      border: 2px solid $primary;
    }
  }
}

@media (max-width: 1000px) {
  .app-ls-design1-logo {
    background: white;
    display: flex;
    justify-content: center;
    width: 60% !important;
  }
  .app-ls-design1-logo img {
    height: 150px;
    width: 200px;
  }
  .app-ls-design1-main {
    min-height: 70vh;
    padding-top: 20%;
    padding-right: 0%;
    width: 110%;
  }
  .app-ls-design1-opt {
    height: auto;
    margin: 0 0 0 0px;
    min-width: 40%;
    padding: 300px 100px 100px 0px;

    .t-linkbutton {
      display: grid;
      margin-left: 0%;
    }
  }
}
@media (max-width: 767px) {
  html {
    background: white;
  }
  .app-ls-design1-logo {
    background: white;
    display: flex;
    justify-content: center;
    //margin-left: -40px;
    width: 100% !important;
  }
  .app-ls-design1 {
    display: flex;
    flex-direction: column;

    img {
      position: static;
    }
  }
  .app-ls-design1-main {
    border-radius: 0 !important;
    padding-top: 10%;
    padding-left: 5%;
  }
  .app-ls-design1-opt {
    min-width: 110%;
    padding: 50px 0 50px 50px;
    min-height: 330px;
  }
}

@media (max-width: 600px) {
  .app-ls-design1-logo {
    position: static;
    height: 150px;
    width: 110% !important;
  }
  .app-ls-design1-main {
    border-radius: 0 !important;
    min-height: 60vh;
    margin: 0;
    padding: 0;
  }
  .app-ls-design1-opt {
    min-width: 110%;
    padding: 50px 80px 0 90px;
  }
}

/*Design 2*/
//used in Ravi
.app-ls-design2-main {
  min-height: 100vh;
  padding: 10% 7% 1% 7%;
  width: 50%;
  float: right;
  background: white !important;

  a{
    color:$primary;
  }
  .x-type-html {
    display: flex;
    justify-content: center;
  }
  input {
    border: 2px solid $primary !important;
    color: $primary;
  }
  h2{
    color: $secondary;
  }
  .t-linkbutton {
    display: flex;
    justify-content: center;

    .btn {
      background: $secondary;
      border: 2px solid $primary;
      border-radius: 2em;
      font-weight: bold;
      height: 50px;
      width: 200px;
      &:hover {
        background: $primary;
      }
    }
  }
}

.app-ls-design2-logo {
  min-height: 100vh;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    height: 200px;
    width: 200px;
    margin-bottom: 20%;
  }
}

@media (max-width: 830px) {
  .app-ls-design2-main {
    width: 100%;
    background: white !important;
    padding: 10% 7% 1% 7% !important;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }
  .app-ls-design2-logo {
    width: 100%;
    background: $secondary !important;
    min-height: 0vh;
    padding: 0;

    img {
      height: 100px;
      width: 100px;
      margin-bottom: 0%;
    }
  }
}

@media (max-width: 430px) {
  .app-ls-design2-logo iframe {
    display: none;
  }
  .app-ls-design2-logo{
    background: $secondary !important;
  }
  .app-ls-design2-main {
    width: 100%;
    background: white !important;
    min-height: 80vh;
    padding: 0;
    margin: 0;
  }
}
