/*============================================================================*/
/* Table Component */
.t-datatable {
  margin: 10px auto;
  padding: 0;

  .table-responsive {
    @include shadows();
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
  }

  h3 {
    color: $primary;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0.5rem 0.5rem;

    @include media("<tablet") {
      border-bottom-style: inset;
      border-color: $secondary;
    }
  }

  .tb-select-row:hover {
    @include hoverbtn();
  }

  .input-sm {
    @include clean();
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
  }

  .input-sm:focus {
    background: none;
    box-shadow: none;
  }

  .btn.btn-primary.btn-sm.m-l-xs.t-refresh-button {
    &:hover {
      @include defaulthov;
    }
  }

  .filter-tabs {
    background: none;
    justify-content: flex-end;
    display: flex;
  }

  .filters-box-display .filter-items {
    border: 1px dashed $primary;

    .filter-item {
      background-color: $primary;
      color: #ffffff;

      i {
        background-color: $secondary;
        color: #ffffff;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .table-wrap>.table tr {
    background-color: #ffffff;
    // border-bottom: 1px solid $prima1;
    color: $primary;

    &:last-child {
      border: none;
    }

    &:nth-last-child(2n) {
      background-color: hsla(240, 7%, 93%, 1);
    }
  }

  table>tbody>tr {
    border: none;
  }

  .table-wrap {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    min-height: 100px;
    max-height: 1500px;
    scrollbar-color: $primary $secondary;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    thead th {
      background: $prima1;
      color: $primary;
      position: sticky;
      top: 0;
    }
  }

  table,
  table>tbody>tr>th,
  table>tfoot>tr>th,
  table>thead>tr>td,
  table>tbody>tr>td,
  table>tfoot>tr>td {
    border: none;
    line-height: 2.5;
    // padding-bottom: 1.5rem;
    // padding-top: 1.5rem;
  }

  .group-wrap.with-group {
    /*filtered groups*/
    background: none;
    border: none;
    padding: 0 25px 20px;
  }

  .group-wrap span.collapsed-icon {
    color: $secondary;
  }

  .group-wrap.with-group .field-title {
    color: $secondary;
  }

  .group-wrap.with-group .val-title {
    color: $primary;
    font-size: 18px;
  }

  .group-wrap.with-group span.count-title,
  .group-wrap.with-group span.parent-collapse {
    background: none;
    color: $primary;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
  }

  .group-wrap.with-group .group-title {
    border-bottom: 2px solid transparent;
    background: #d3d3d4;
    padding-bottom: 2px;

    &:hover {
      background: none;
      border-bottom: 2px solid $secondary;
    }
  }

  table>tbody>tr>td {
    color: #444;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .allow-inline-edit {
    // pointer-events: none;
    cursor: default;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:hover {
      // pointer-events: none;
      cursor: default;
      border: none;
      -webkit-box-shadow: transparent;
      box-shadow: transparent;

      &::after {
        // pointer-events: none;
        cursor: default;
        cursor: default;
        background: transparent;
        padding: 0px;
        right: 5px;
        top: 0px;
        color: transparent;
      }
    }
  }

  .table-hover>tbody>tr:hover {
    // background: $prima1;
    // border-bottom: 1px solid $primary;
    // box-shadow: 0 -1px $primary;

    // border-bottom: 1px solid $prima1;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  table>thead>tr>th {
    border: none;
    color: $lighttext;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-transform: none;
    transition: all 0.1s ease-in-out;
    vertical-align: middle;
    position: sticky;
    text-align: center;
    top: -1rem;
  }

  .pagination>.disabled>a,
  .pagination>.disabled>span {
    @include primarybtn(none);
    padding: 6px 12px;

    &:hover {
      @include hoverbtn();
    }
  }

  .pagination-sm>li>a,
  .pagination-sm>li>span {
    @include primarybtn(none);
    padding: 6px 12px;

    &:hover {
      @include hoverbtn();
    }
  }

  .pagination>.active>a,
  .pagination>.active>span {
    @include hoverbtn();
    padding: 6px 12px;
  }

  .table .sortable:hover {
    background-color: #ffffff;
    box-shadow: inset 0 -2px $primary; //Edited
  }

  .td-link {
    font-weight: bold;
    @include linkhover();

    &:hover {
      color: $secondary;
    }
  }

  table a:not(.btn) {
    text-decoration: none;
  }

  // This is the refresh, filter, search bar
  .table-actions {
    @include clean();
    margin-top: 30px;
  }

  .t-records-button {
    @include norecord();
  }

  .form-control {
    background: none;
    border: 1px solid #d3d3d4;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #484848;
    font-weight: bold;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      // border-bottom: 2px solid $primary;
      box-shadow: none;
      color: $primary;
    }
  }

  .btn.btn-sm {
    //added
    margin-top: 0px;
  }

  .btn.btn-primary.btn-sm.m-l-xs.t-refresh-button {
    &:hover {
      background: $primary;
      color: #ffffff;
    }
  }

  .btn.btn-primary.btn-sm.m-l-xs.t-new-record-button {
    background: #ffffff;
    border: 2px solid $primary;
    border-radius: 5px;
    color: $primary;
    transition: all 0.1s ease-in-out;

    &:hover {
      background: $primary;
      @include btnshadow();
      color: #fff;
    }
  }

  .btn.btn-info.btn-sm.m-l-xs.t-batch-button {
    color: #ffffff;
    background-color: $primary; //Edited
    background-image: none;
    border-color: #0c0c0c;
    outline: none;

    &:hover {
      color: #ffffff;
      background-color: $primary; //Edited
      border-color: $primary; //Edited
      outline: none;
    }
  }

  .nav-tabs {
    background: #ffffff;
    border: none;
  }

  .nav.nav-tabs>li>a {
    @include primarybtn(none);
    border-radius: 5px;
    margin: 2px 2px;
    padding: .25rem .5rem;

    &:hover,
    &:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

      @include media("<tablet") {
        transform: none;
      }
    }
  }

  .filter-tabs .nav-tabs>li.active>a {
    background: $secondary;
    outline: none;
    color: white;
  }

  .thumb-wrap img {
    border-radius: 100%;
    height: 50px;
    object-fit: cover;
    width: 50px;
  }
}

/* Custom Table Component */
.borderless-table {
  &.t-datatable {
    .table-responsive {
      border: none;
      box-shadow: none;
      padding: 0;
      text-align: left;
    }

    .table-actions {
      display: none;
    }

    .table-wrap>.table tr {
      border: none;
    }

    .table-hover>tbody>tr:hover {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
}

.no-refresh {
  &.t-datatable {
    .btn.btn-primary.btn-sm.m-l-xs.t-refresh-button {
      display: none;
    }
  }
}

.just-add-btn {
  &.t-datatable {
    .table-responsive {
      border: none;
      box-shadow: none;
      padding: 0;
      text-align: left;
      background: none;
    }

    .table-actions {
      margin: 0;
    }

    .table-wrap>.table tr {
      border: none;
      display: none; //added
    }

    .table-hover>tbody>tr:hover {
      background: none;
      border: none;
      box-shadow: none;
    }

    .btn.btn-primary.btn-sm.m-l-xs.t-refresh-button {
      display: none;
    }
  }
}

.no-filter-table {
  .table-actions {
    display: none;
  }
}


// V2
@media (min-width:0px) {
  .t-datatable {
    margin: 10px 0 20px 0;
    padding: 0;
    background: none !important;
    border: none;
  }

  .t-datatable .table-responsive {
    padding: 16px;
    margin: 10px 0;
    border: 2px solid $MainB;
    border-radius: 16px;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
  }

  .t-datatable .table-responsive h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 10px;
    color: $primary;
    border: none;
  }

  /* Filter Tabs */
  .t-datatable .table-responsive .filter-tabs .nav-tabs {
    margin: 15px 0;
    padding: 0;
    border: 0;
  }

  .t-datatable .table-responsive .filter-tabs .nav-tabs a {
    padding: 5px 15px;
    border-radius: 16px;
    background: $primary;
    border: 1px solid $primary;
    box-shadow: none;
    font-weight: 500;
  }

  .t-datatable .table-responsive .filter-tabs .nav-tabs a:hover {
    outline: none;
    border: 1px solid $primary;
    background: $accent1;
    color: white;
    box-shadow: none;
  }

  .t-datatable .table-responsive .filter-tabs .nav-tabs .active a {
    outline: none;
    border: 1px solid black;
    background: $accent1;
    color: black;
  }

  .t-datatable .table-responsive .table-actions {
    background: white;
    margin: 0;
    display: flex;
    float: left;
    /*     width: 100%; */
    padding: 0px;
    border: none;
    flex-direction: column;
  }

  .t-datatable .table-responsive .table-actions .pull-left.form-inline {
    display: flex;
    align-items: center;
  }

  .t-datatable .table-responsive .table-actions .pull-left.form-inline .form-control {
    border: 1px solid $primary;
    border-radius: 24px 0px 0px 24px;
    min-width: 100px;
  }

  .t-datatable .table-responsive .table-actions .pull-left.form-inline .btn {
    background: $primary;
    color: white;
    border: 1px solid $primary;
    border-radius: 16px;
    padding: 5px 10px;
    margin: 0 2px;
  }

  .t-datatable .table-responsive .table-actions .pull-left.form-inline .input-group .btn.btn.btn-sm {
    border-radius: 0px 24px 24px 0px;
    margin: 0 2px 0 0;
  }

  .t-datatable .table-responsive .table-actions .pull-left.form-inline .btn i {
    color: white;
    font-weight: normal;
  }

  .t-datatable .table-responsive .table-actions .pull-left.form-inline .btn:hover {
    background: $accent1;
    border: 1px solid $primary;
  }

  /* Pagination */
  .t-datatable .table-responsive .table-actions .hit-pagination2 ul li.active a {
    background: $accent1;
    color: black;
  }

  .t-datatable .table-responsive .table-actions .pull-right.form-inline {
    display: flex;
    align-items: center;
    /*     min-width: 300px; */
    margin: 10px 0;
  }

  .t-datatable .table-responsive .table-actions .pull-right.form-inline .form-control {
    border: 1px solid $primary;
    border-radius: 16px;
  }

  .t-datatable .table-responsive .table-actions .pull-right.form-inline a {
    font-size: 12px;
    padding: 5px 10px;
    color: white;
    background: $primary;
  }


  .t-datatable .table-responsive table thead {
    border-bottom: 3px solid $MainB;
  }

  .t-datatable .table-responsive table thead tr th {
    background: white;
    text-align: left;
  }

  .t-datatable .table-responsive table thead tr th span {
    color: $lighttext;
    font-weight: 700;
  }

  .t-datatable .table-responsive table tbody tr {
    background: white;
  }

  .t-datatable .table-responsive table tbody tr:nth-last-child(2n) {
    background: #ccc;
  }

  .t-datatable .table-responsive table tbody tr td span {
    color: $lighttext;
    font-weight: 500;
  }

  .t-datatable .table-responsive table tbody tr td a {
    border: none;
    border-radius: 16px;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    i{
      padding: 0 .5rem;
    }
  }

  .t-datatable .table-responsive table tbody tr td a:hover {
    border: none;
  }

  /* btn Primary */
  .t-datatable .table-responsive table tbody tr td a.btn-primary {
    background: $primary;
    border: 1px solid $primary;
    color: white;
  }

  .t-datatable .table-responsive table tbody tr td a.btn-primary:hover {
    background: $accent1;
    border: 1px solid $primary;
    color: white;
  }

  /* btn Info */
  .t-datatable .table-responsive table tbody tr td a.btn-info {
    background: $infoBtn;
    border: 1px solid $infoBtn;
    color: white;
  }

  .t-datatable .table-responsive table tbody tr td a.btn-info:hover {
    background: $infoBtnAccent;
    border: 1px solid $infoBtn;
    color: white;
  }

  /* btn Warning */
  .t-datatable .table-responsive table tbody tr td a.btn-warning {
    background: $warningBtn;
    border: 1px solid $warningBtn;
    color: white;
  }

  .t-datatable .table-responsive table tbody tr td a.btn-warning:hover {
    background: $warningBtnAccent;
    border: 1px solid $warningBtn;
    color: white;
  }

  /* btn Danger */
  .t-datatable .table-responsive table tbody tr td a.btn-danger {
    background: $dangerBtn;
    border: 1px solid $dangerBtn;
    color: white;
  }

  .t-datatable .table-responsive table tbody tr td a.btn-danger:hover {
    background: $dangerBtnAccent;
    border: 1px solid $dangerBtn;
    color: white;
  }


  /* Group */
  .t-datatable .table-responsive tb-table-group .group-wrap.with-group {
    margin: 0;
    padding: 0;
  }

  .t-datatable .table-responsive tb-table-group .group-wrap.with-group .group-title {
    margin: 0;
    background: $MainB;
    border-bottom: 1px solid $primary;
  }

  .t-datatable .table-responsive tb-table-group .group-wrap.with-group .group-title span,
  .t-datatable .table-responsive tb-table-group .group-wrap.with-group .group-title .field-title {
    color: $primary;
  }

  .t-datatable .table-responsive tb-table-group .group-wrap.with-group .group-title i {
    color: $secondary;
  }
}

@media (min-width:768px) {
  .t-datatable .table-responsive .table-actions {
    flex-direction: row;
  }

  .t-datatable .table-responsive .table-actions .pull-left.form-inline .form-control,
  .t-datatable .table-responsive .table-actions .pull-right.form-inline .form-control,
  .t-datatable .table-responsive .table-actions .hit-pagination2 ul li a {
    height: 33px;
  }
}

@media (min-width:1200px) {
  .t-datatable .table-responsive h3 {
    font-size: 24px;
  }


  .t-datatable .table-responsive .table-actions .pull-left.form-inline .form-control,
  .t-datatable .table-responsive .table-actions .pull-right.form-inline .form-control,
  .t-datatable .table-responsive .table-actions .hit-pagination2 ul li a {
    height: 36px;
  }
}